<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100387268238-497m45tet7r05bfokitp7l3toooisus9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100387268238-497m45tet7r05bfokitp7l3toooisus9</string>
	<key>API_KEY</key>
	<string>AIzaSyBHRou8LAZe37C3Iiv50pkysJfTXyoc8Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>100387268238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth</string>
	<key>PROJECT_ID</key>
	<string>auth-2aff9</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-2aff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100387268238:ios:0c4043b8449a22d21a0bdf</string>
</dict>
</plist>